body, body * {
  box-sizing: border-box;
}
.app-form {
  margin: 0 auto 30px;
  padding: 50px;
  border: 1px solid #eee;
}
.app-form input[type='text'] {
  margin-bottom: 20px;
}
.App {
  max-width: 800px;
  margin: 50px auto;
  padding: 30px;
  box-shadow: 0 0 10px 20px #eee;
}
.space {
  width: 25px;
  display: inline-block;
}

.App h2 {
  line-height: 0.8;
  margin: 0 0 15px;
}
.form-label {
  display: inline-block;
  width: 100px;
  margin-bottom: 10px;
}
.app-form input[type='radio'] {
  display: inline-block;
  margin: 10px 5px 10px 0;
}

.app-form input[type='submit'] {
  margin: 10px 0 10px;
  padding: 10px 15px;
  background-color: cadetblue;
  border: 1px solid #eee;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
}
.select-label {
  width: 100%;
}